/* Set a maximum width for the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

/* Style the page header */
h1 {
  font-size: 36px;
  text-align: center;
}

/* Style the input fields and select boxes */
input[type="number"],
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
}

select option[value="null"] {
  display: none;
}

/* Style the buttons container */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%; /* Adjust this value as needed */
  margin: 20px auto; /* Center the container horizontally */
}

/* Style the buttons */
button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  display: inline-block;
  width: 40%;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Style the legend */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style the tirage output */
p#tirage {
  font-size: 24px;
  font-weight: bold;
}
